{% extends "layouts/base.html" %}

{% block title %} Recuperar Senha - Maradindiduns {% endblock %}

{% block head_extra %}
<meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}

{% block content %}
<main>
    <div style="
        background: var(--purple-medium);
        padding: 35px;
        width: 430px;
        border-radius: 15px;
        text-align: center;
    ">

        <h2 style="margin-bottom: 20px;">Recuperar Senha</h2>
        <p style="margin-bottom: 20px;">Digite seu e-mail para receber o link de redefinição.</p>

        <form id="forgotForm">
            <input type="email" name="email" placeholder="Seu e-mail" required>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button type="submit" style="width: 100%; margin-top: 10px;">
                Enviar Link
            </button>
        </form>
    </div>
</main>
{% endblock %}

{% block js %}

<script>
    const csrf = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

    document.getElementById("forgotForm").addEventListener("submit", async function(e){
        e.preventDefault();
        const csrf = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        const email = this.email.value;
        console.log(csrf)
        const response = await fetch("/forgot_password", {
            method: "POST",
            headers: {"Content-Type": "application/json",  "X-CSRFToken": csrf },
            body: JSON.stringify({ email })
        });

        alert("Se o e-mail existir, enviaremos um link para recuperação.");
    });
</script>

{% endblock %}