<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maradindiduns - Entrar</title> 
                                        
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/public/login/login_style.css')}}"> 
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/layouts/base.css')}}">
</head>
<body>
    <header>
        <div class="header-left">
            <div class="logo-img-placeholder"></div>
            <p> Maradindinduns </p>
        </div>
        <div class="header-right">
            <ul>
                <li><a href="index.html">Início</a></li>
                <li><a href="#">Leilões</a></li>
                <li><a class="activate" href="#">Entrar</a></li>
                <li><a href="cadastro.html">Cadastrar-se</a></li>
            </ul>
        </div>
    </header>

    <main>
        <div class="form-card login-card">
            <h2 class="card-header-title">Entre com sua Conta</h2>

            <form id = "login-form" action = "{{url_for('auth_pages.submit_login')}}", method = "POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input name = "email"type="email" placeholder="E-mail">
                <input name = "password" type="password" placeholder="Senha">
                <button type="submit">Entrar</button>
            </form>
        </div>
    </main>

    <footer>
        <div class="footer-cellphone">
            <p> Telefone: (11) 97321-0013 </p>
        </div>
        <div class="footer-copyright">
            <p> @Copyright 2025 </p>
        </div>
        <div class="footer-empty-space"></div>
    </footer>
</body>
</html>