{% extends "layouts/base.html" %}

{% block title %} Entrar - Maradindinduns{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/public/login/login_style.css') }}">
{% endblock %}

{% block content %}
<main>
        <div class="form-card login-card">
            <h2 class="card-header-title">Entre com sua Conta</h2>

            <form id="login-form" action="{{url_for('auth_pages.submit_login')}}" , method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input name="email" type="email" placeholder="E-mail" required>
                <input name="password" type="password" placeholder="Senha" required>

                <button class="btn" type="submit">Entrar</button>

                <div class="form-links-footer">

                    <p class="forgot-password-prompt">Esqueceu a senha? <a href="{{url_for('auth_pages.forgot_password')}}" class="forgot-password-link">Clique aqui</a></p>

                    <p class="register-prompt">Não tem uma conta? <a href="{{url_for('auth_pages.register_page')}}">Cadastre-se</a></p>
                </div>
            </form>
        </div>
    </main>
{% endblock %}