<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Redefinir Senha - MarAuction</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/layouts/base.css')}}">
     <meta name="csrf-token" content="{{ csrf_token() }}">
</head>

<body>

<header>
    <div class="header-left">
        <div class="logo-img-placeholder"></div>
        <p>MarAuction</p>
    </div>

    <div class="header-right">
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/login">Entrar</a></li>
        </ul>
    </div>
</header>

<main>
    <div style="
        background: var(--purple-medium);
        padding: 30px;
        width: 430px;
        border-radius: 15px;
        text-align: center;
    ">
        <h2 style="margin-bottom: 20px;">Redefinir Senha</h2>

        <form id="resetForm">
            <input type="password" name="password" placeholder="Nova senha" required>

            <button type="submit" style="margin-top: 10px; width: 100%;">
                Atualizar Senha
            </button>
        </form>
    </div>
</main>

<footer>
    <p class="footer-cellphone">Contato: (11) 99999-9999</p>
    <p class="footer-copyright">© 2025 MarAuction</p>
    <p class="footer-empty-space"></p>
</footer>

<script>
    const csrf = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
document.getElementById("resetForm").addEventListener("submit", async function(e){
    e.preventDefault();

    const password = this.password.value;

    const response = await fetch(window.location.pathname, {
        method: "POST",
        headers: {"Content-Type": "application/json",  "X-CSRFToken": csrf },
        body: JSON.stringify({ password })
    });

    alert("Senha redefinida com sucesso!");
    window.location.href = "/login";
});
</script>

</body>
</html>