{% extends "layouts/base.html" %}

{% block title %}Redefinir Senha{% endblock %}



{% block content %}
<div class="reset-container">
    <h2>Nova senha</h2>

    <form id="resetForm">
        <input type="password" name="password" placeholder="Nova senha" required>
        <button type="submit">Atualizar</button>
    </form>
</div>
{% endblock %}

{% block js %}
<script>
document.getElementById("resetForm").addEventListener("submit", async function(e){
    e.preventDefault();

    const password = this.password.value;
    const csrf = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

    await fetch(window.location.pathname, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrf
        },
        body: JSON.stringify({"password":password})
    });

    window.location.href = "{{ url_for('auth_pages.login_page') }}";
});
</script>
{% endblock %}