{% extends "layouts/base.html" %}
{% block title %} Maradindiduns - Painel Admin {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/admin_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/base.css') }}">
{% endblock %}

{% block js %}
<script src="https://cdn.tailwindcss.com"></script>
<script src="{{url_for('static',filename = 'js/admin/admin.js')}}" defer></script>
{% endblock %}

{% block content %}
<main class="p-4 md:p-8 bg-gray-50 min-h-screen">
    <header class="mb-0">
        <h1 class="text-3xl font-bold-800 border-b pb-2">Painel de Administração de Leilões</h1>
        <p class=" mt-2">Gerencie, revise e finalize todos os leilões ativos e agendados.</p>

        <div id="admin-message-box" class="hidden"></div>
    </header>

    <section class="bg-white shadow-xl rounded-lg p-4 sm:p-6">
        <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-6 space-y-3 sm:space-y-0">
            <h2 class="text-xl font-semibold text-gray-700">Leilões Ativos e Pendentes</h2>
            <button
                class="bg-blue-600 text-white font-semibold px-4 py-2 rounded-lg hover:bg-blue-700 transition duration-150 w-full sm:w-auto shadow-md">
                + Criar Novo Leilão
            </button>
        </div>

        <div class="overflow-x-auto relative rounded-lg border border-gray-100">
            <table class="w-full text-sm text-left text-gray-500 min-w-max divide-y divide-gray-200">
                <thead class="text-text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3 min-w-[50px]">ID</th>
                        <th scope="col" class="px-6 py-3 min-w-[200px]">Título</th>
                        <th scope="col" class="px-6 py-3 min-w-[100px] whitespace-nowrap">Status</th>
                        <th scope="col" class="px-6 py-3 min-w-[120px] whitespace-nowrap">Lance Atual</th>
                        <th scope="col" class="px-6 py-3 min-w-[150px] whitespace-nowrap">Data Final</th>
                        <th scope="col" class="px-6 py-3 min-w-[220px] whitespace-nowrap">Ações</th>
                    </tr>
                </thead>
                <tbody id="auctions-table-body" class="bg-white divide-y divide-gray-200">
                </tbody>
            </table>
        </div>

    </section>
</main>
{% endblock %}