<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Esqueci minha senha - MarAuction</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/layouts/base.css')}}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>

<body>

<header>
    <div class="header-left">
        <div class="logo-img-placeholder"></div>
        <p>MarAuction</p>
    </div>

    <div class="header-right">
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/login">Entrar</a></li>
        </ul>
    </div>
</header>

<main>
    <div style="
        background: var(--purple-medium);
        padding: 35px;
        width: 430px;
        border-radius: 15px;
        text-align: center;
    ">

        <h2 style="margin-bottom: 20px;">Recuperar Senha</h2>
        <p style="margin-bottom: 20px;">Digite seu e-mail para receber o link de redefinição.</p>

        <form id="forgotForm">
            <input type="email" name="email" placeholder="Seu e-mail" required>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button type="submit" style="width: 100%; margin-top: 10px;">
                Enviar Link
            </button>
        </form>
    </div>
</main>

<footer>
    <p class="footer-cellphone">Contato: (11) 99999-9999</p>
    <p class="footer-copyright">© 2025 MarAuction</p>
    <p class="footer-empty-space"></p>
</footer>

<script>
    const csrf = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
document.getElementById("forgotForm").addEventListener("submit", async function(e){
    e.preventDefault();
    const csrf = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    const email = this.email.value;
    console.log(csrf)
    const response = await fetch("/forgot_password", {
        method: "POST",
        headers: {"Content-Type": "application/json",  "X-CSRFToken": csrf },
        body: JSON.stringify({ email })
    });

    alert("Se o e-mail existir, enviaremos um link para recuperação.");
});
</script>

</body>
</html>